<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <title>قالب Strina - قالب معرفی اپ استرینا</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/style.css">
	
    <!-- Theme Color -->
	<meta name="theme-color" content="#4A00E0">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_wrap d-flex justify-content-between align-items-center">
                                <div class="header_left">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="img/logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="header_right d-flex align-items-center">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="#">خانه <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="index.html">خانه - 1</a></li>
                                                        <li><a href="index-2.html">خانه - 2</a></li>
                                                        <li><a href="index-3.html">خانه - 3</a></li>
                                                        <li><a href="index-4.html">خانه - 4</a></li>
                                                        <li><a href="index-5.html">خانه - 5</a></li>
                                                        <li><a href="index-6.html">خانه - 6</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="about.html">درباره</a></li>
                                                <li><a href="service.html">خدمات</a></li>
                                                <li><a href="#">صفحات <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="faq.html">سوالات متداول</a></li>
                                                        <li><a href="review.html">نقد و بررسی</a></li>
                                                        <li><a href="download.html">دریافت</a></li>
                                                        <li><a href="thank-you.html">متشکریم</a></li>
                                                        <li><a href="login.html">ورود</a></li>
                                                        <li><a href="register.html">ثبت نام</a></li>
                                                        <li><a href="forget-password.html">بازیابی رمز عبور</a></li>
                                                        <li><a href="coming-soon.html">به زودی</a></li>
                                                        <li><a href="404.html">404</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="portfolio.html">نمونه‌کارها</a></li>
                                                <li><a href="#">بلاگ <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="blog-grid.html">بلاگ توری</a></li>
                                                        <li><a href="blog-grid-sidebar.html">بلاگ نوار کناری چپ</a></li>
                                                        <li><a href="blog-grid-sidebar-right.html">بلاگ نوار کناری راست</a></li>
                                                        <li><a href="blog-details.html">جزئیات بلاگ نوار چپ</a></li>
                                                        <li><a href="blog-details-right.html">جزئیات بلاگ نوار راست</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">تماس</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- Breadcrumb-start -->
    <section class="breadcrumb breadcrumb_bg bg-overlay-3 bg-img" style="background-image: url(img/bg-img/35.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>خدمات ما</h2>
                            <div class="custom-breadcrumb">
                                <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                    <li class="list-inline-item breadcrumb-item"><a href="#">خانه</a></li>
                                    <li class="list-inline-item breadcrumb-item active">خدمات</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb-end -->

    <!-- Feature Area -->
    <div class="feature-area section-padding-100-50" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/1.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>طراحی با کشیدن و رها کردن</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/2.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>بهینه سازی جستجوی نقشه</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/3.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>لینک سازی و محتوا</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/4.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>طراحی با کشیدن و رها کردن</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/5.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>طراحی با کشیدن و رها کردن</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/6.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>طراحی با کشیدن و رها کردن</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/2.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>بهینه سازی جستجوی نقشه</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/3.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>لینک سازی و محتوا</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>

                <!-- Single Feature area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-feature-area text-center">
                        <!-- Feature Icon -->
                        <div class="feature-icon">
                            <img src="img/icon-img/4.png" alt="">
                        </div>
                        <!-- Single Feature Text -->
                        <div class="feature-content-text">
                            <h4>طراحی با کشیدن و رها کردن</h4>
                            <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Area -->

    <!-- Price Table Area -->
    <div class="price-table-area bg-gray-cu section-padding-100-50" id="price">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title t_center">
                        <h2>جدول قیمت ها</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Price Table Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-price-table-area">
                        <div class="price-table-heading text-center">
                            <div class="pricing-icon">
                                <i class="bx bx-send"></i>
                            </div>
                            <h2>14,000 <small>تومان</small></h2>
                            <h6>شخصی</h6>
                        </div>
                        <!-- Body Text -->
                        <div class="price-table-body text-center">
                            <ul>
                                <li><span>23000 بازدید در ماه</span></li>
                                <li><span>60GB فضای ذخیره</span></li>
                                <li><span>250GB پهنای باند</span></li>
                                <li><span>بینهایت آدرس ایمیل</span></li>
                                <li><span>پشتیبانی 24 ساعته</span></li>
                            </ul>
                            <div class="price-table-button">
                                <a class="btn sosa-btn" href="#">هم اکنون بخرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Price Table Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-price-table-area">
                        <div class="price-table-heading text-center">
                            <div class="pricing-icon">
                                <i class="bx bx-recycle"></i>
                            </div>
                            <h2>25,000 <small>تومان</small></h2>
                            <h6>تیم کوچک</h6>
                        </div>
                        <!-- Body Text -->
                        <div class="price-table-body text-center">
                            <ul>
                                <li><span>23000 بازدید در ماه</span></li>
                                <li><span>60GB فضای ذخیره</span></li>
                                <li><span>250GB پهنای باند</span></li>
                                <li><span>بینهایت آدرس ایمیل</span></li>
                                <li><span>پشتیبانی 24 ساعته</span></li>
                            </ul>
                            <div class="price-table-button">
                                <a class="btn sosa-btn" href="#">هم اکنون بخرید</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Price Table Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-price-table-area">
                        <div class="price-table-heading text-center">
                            <div class="pricing-icon">
                                <i class="bx bx-rocket"></i>
                            </div>
                            <h2>34,000 <small>تومان</small></h2>
                            <h6>سازمانی</h6>
                        </div>
                        <!-- Body Text -->
                        <div class="price-table-body text-center">
                            <ul>
                                <li><span>23000 بازدید در ماه</span></li>
                                <li><span>60GB فضای ذخیره</span></li>
                                <li><span>250GB پهنای باند</span></li>
                                <li><span>بینهایت آدرس ایمیل</span></li>
                                <li><span>پشتیبانی 24 ساعته</span></li>
                            </ul>
                            <div class="price-table-button">
                                <a class="btn sosa-btn" href="#">هم اکنون بخرید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price Table Area -->

    <!-- Footer Contact Area -->
    <div class="footer-contact-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Footer Widget -->
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-single-widget mb-50">
                        <div class="footer-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p class="mt-30">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون</p>
                        <!-- Contact Icon -->
                        <div class="footer-contact-icon">
                            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" title="google-plus"><i class="fab fa-google"></i></a>
                            <a href="#" title="telegram"><i class="fab fa-telegram"></i></a>
                            <a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget -->
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-single-widget mb-50">
                        <h4>درباره ما</h4>
                        <ul>
                            <li><a href="#">هدایتگری</a></li>
                            <li><a href="#">شرکت</a></li>
                            <li><a href="#">تنوع</a></li>
                            <li><a href="#">اخبار کاری</a></li>
                            <li><a href="#">اخبار عمومی</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget -->
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-single-widget mb-50">
                        <h4>راه حل ها</h4>
                        <ul>
                            <li><a href="#">تامین مالی</a></li>
                            <li><a href="#">شراکت</a></li>
                            <li><a href="#">فروشگاه</a></li>
                            <li><a href="#">بازاریابی</a></li>
                            <li><a href="#">برندسازی</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Widget -->
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-single-widget mb-50">
                        <h4>اطلاعات تماس</h4>
                        <ul>
                            <li><a href="#"><i class="ti-location-pin"></i> فلکه دانشگاه، برج بلور، طبقه 85</a></li>
                            <li><a href="#"><i class="ti-pin2"></i> تبریز، ایران</a></li>
                            <li><a href="#"><i class="ti-email"></i> info@example.com</a></li>
                            <li><a href="#"><i class="ti-mobile"></i> <span class="ltr-text">(+98) 123 456 789</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Right Area -->
        <div class="copy-right-area">
            <div class="container">
                <div class="row">
                    <!-- Copy Right Menu -->
                    <div class="col-md-6">
                        <div class="copy-right-menu">
                            <ul>
                                <li><a href="#">حریم خصوصی</a></li>
                                <li><a href="#">سوالات متداول</a></li>
                                <li><a href="#">ارتباط با ما</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Copy Right Content -->
                    <div class="col-md-6 mt-sm-cu-20">
                        <div class="copy-right-content">
                            <p>ارائه شده در وب‌سایت <a href="https://www.rtl-theme.com" target="_blank">راست‌چین</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Contact Area -->

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/bundle.js"></script>

    <!-- Custom js-->
    <script src="js/main.js"></script>

</body>

</html>